<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="QuizProject Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="DATABASE_DSN" value="mysql:host=127.0.0.1;dbname=quizproject_test"/>
        <env name="DB_USER" value="root"/>
        <env name="DB_PASSWORD" value="root"/>
    </php>
</phpunit>
